<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="DealerName" value="Dealer"/>
    <add key="PlayerName" value="Player"/>
    <add key="HighestPoint" value="21"/>
    <add key="BlackJackWinningPoint" value="15"/>
    <add key="NormalWinningPoint" value="10"/>
    <add key="CardHeight" value="75"/>
    <add key="DealerDrawPercentage" value="50.00"/>
    <add key="MaximumHandCard" value="16"/>
    <add key="MinimumCardNumber" value="15"/>
    <add key="DealerMinimumPoint" value="16"/>
  </appSettings>
</configuration>